---
import LayoutMenuNegocio from "../layouts/LayoutMenuNegocio.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css"
---

<LayoutMenuNegocio>
    <Nav/>
    <br>
    <div class="text-center">
        <h1 class="uppercase text-5xl m-5">Menu de negocio</h1>
    </div>
</LayoutMenuNegocio>
