---
import Logo from "../assets/Logo/lOGOPNG (1).svg";
---
<nav class="relative border-2 rounded-lg shadow-md shadow-black px-4 py-2">
    <!-- Contenedor de botones alineados a la derecha -->
    <div class="absolute right-4 top-1/2 -translate-y-1/2 flex flex-col md:flex-row gap-2 md:gap-4 items-end md:items-center">
      <button class="px-4 py-2 uppercase">BLOG</button>
      <button class="px-4 py-2 uppercase">Registro</button>
    </div>
  
    <!-- Imagen centrada -->
    <div class="flex justify-center">
      <img src={Logo.src} alt="Logo" height="105" width="105"/>
    </div>
  </nav>
  
